.btn {
    padding: 20px 30px;
    border: none;
    border-radius: 30px;
}
.yellow-btn {
    background-color: var(--color-one);
    color: var(--white-one);
    font-weight: 800;
}
.white-btn {
    color: var(--color-two);
    font-weight: 800;
}