.container-lg {
    max-width: var(--container-lg);
    margin: auto;
};
.container-md {
    max-width: var(--container-md);
    margin: auto;
};
.container-sm {
    max-width: var(--container-sm);
    margin: auto;
};
.container-xs {
    max-width: var(--container-xs);
    margin: auto;
};
.container-xxs {
    max-width: var(--container-xxs);
    margin: auto;
};
.container-p {
    max-width: var(--container-p);
    margin: auto
};
.container-p-nm {
    max-width: var(--container-p);
};