.yellow-hover:hover {
    background-color: var(--color-one);
    color: var(--white-one);
}
.event-btn:hover {
    background-color: var(--color-two);
    box-shadow: 0 0 1.5px #888888;
}
.red-hover:hover {
    background-color: var(--color-eight);
}
.navbar-btn:hover {
    background-color: var(--white-one);
    color: var(--color-two);
}
.li-navbar a:hover {
    color: var(--color-one);
}
.carousel-images .box:hover {
    background-color: var(--color-two);
    border: none;
}
.carousel-images .box-image:hover > * {
    filter: brightness(0) invert(1);
}
.carousel-images .box:hover::after {
    content:'';
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -20px;
    width: 0;
    height: 0;
    border-top: solid 20px var(--color-two);
    border-left: solid 20px transparent;
    border-right: solid 20px transparent;
}