.yellow-hover:hover {
    background-color: var(--color-one);
    color: var(--white-one);
}
.event-btn:hover {
    background-color: var(--color-two);
    box-shadow: 0 0 1.5px #888888;
}
.red-hover:hover {
    background-color: var(--color-eight);
}
.navbar-btn:hover {
    background-color: var(--white-one);
    color: var(--color-two);
}
.li-navbar a:hover {
    color: var(--color-one);
}