:root {
/*-------------
    COLORS
-------------*/
    // WHITE SECTION
    --white-one: #fff;
    --white-two: #fafafa;
    --white-three: #f7f8fa;

    // COLOR SECTION
    --color-one: #e9d758;
    --color-two: #e56768;
    --color-three: #db6d6f;
    --color-four: #79b530;
    --color-five: #69de89;
    --color-six: #82b541;
    --color-seven: #db2a2c;

    // GREY SECTION
    --gray-one: #000000;
    --gray-two: #3d404f;
    --gray-three: #454545;
    --gray-four: #8b8b8a;
    --gray-five: #7f7f7f;
    --gray-six: #454545;
    --gray-seven: #474a58;
    --gray-eight: #eaeaea;
    --gray-nine: #70727e;

/*----------------
    DIMENSION
----------------*/
    --container-p: 350px;
    --container-xxs-card: 400px;
    --container-xxs: 570px;
    --container-xs: 700px;
    --container-sm: 980px;
    --container-md: 1220px;
    --container-lg: 1440px;

/*----------------
    FONT-SIZE
----------------*/
    --font-sm: .875rem;
    --font-md: 1.25rem;
    --font-lg: 1.5625rem;
    --font-xl: 1.875rem;
    --font-xxl: 3.125rem;
    --font-xxxl: 3.75rem;
}